<!-- navbar.html -->
<input type="checkbox" id="check">
<label for="check">
 <img src="/icons/bars.svg" alt="⛔" id="btn" />
 <img src="/icons/times.svg" id="cancel">
</label>
<div class="sidebar">
  <header>ED</header>
<ul>
  <li><a href="https://voidbytes-dev.github.io/PAGES/tutorials.html"><img src="/icons/book.svg" class="nav-icon" alt="Tutorial icon">Tutorial</a></li>
  <li><a href="#"><img src="/icons/briefcase.svg" class="nav-icon" alt="My Works icon">My Works</a></li>
  <li><a href="#"><img src="/icons/tools.svg" class="nav-icon" alt="Skills icon">Skills</a></li>
  <li><a href="#"><img src="/icons/envelope.svg" class="nav-icon" alt="Contact icon">Contact</a></li>
  <li><a href="#"><img src="/icons/sign-in-alt.svg" class="nav-icon" alt="Login icon">Login</a></li>
  <li><a href="#"><img src="/icons/sign-out-alt.svg" class="nav-icon" alt="Logout icon">Logout</a></li>
</ul>

</div>
